/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS reset. Any and all CSS below this point is my own */

body {
    background-color: #FFDAB9;
}

.mainheader {
    color: #4A4E69;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5D3954;
    box-shadow: 1px 2px 5px 1px #5D3954;
    padding: 10px;
    margin: 40px 50px;
}

p {
    margin: 0px 50px;
}

.footer {
    font-size: 24px;
    text-align: center;
    padding-top: 100px;
    color: #4A4E69;
}

.footernav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
    flex-direction: row;
    margin-bottom: 40px;
}

.footernav > li {
    list-style-type: none;
    border: 1px solid #5D3954;
    box-shadow: 1px 2px 5px 1px #5D3954;
    padding: 5px 10px 5px 10px;
}

.recipes {
    color: #4A4E69;
    font-size: 20px;
    margin-left: 40px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: blueviolet;
}

ul, ol {
    list-style-type: disc;
    padding-left: 40px;
}

.recipelist {
    margin-top: 40px;
}

.recipeimg {
    border: 1px solid #5D3954;
    box-shadow: 1px 2px 5px 1px #5D3954;
    display: block;
    margin: 0 auto;
}

h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

h3 {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

.ingredientlist {
    margin-left: 50px;
    margin-right: 50px;
}

.ingredientlist li {
    padding: 5px 
}

.stepslist {
    margin-left: 50px;
    margin-right: 50px;
    list-style: decimal;
}

.stepslist li {
    padding: 10px
}

.articlep {
    margin-top: 40px;
}
